.footer {
    font-family: 'Poppins', sans-serif;
    border-top: 4px solid #e4ebec;
}

.footer h5 {
    letter-spacing: 1px;
}

.footer p a:hover {
    color: #198754 !important;
    padding-left: 5px;
    transition: 0.3s;
}

.footer .fs-4 a:hover {
    color: #198754 !important;
    transform: scale(1.2);
    transition: 0.2s;
}

.footer hr {
    border-top: 1px solid rgba(210, 27, 27, 0.1);
}

.footer .small {
    display: block;
    width: 100%;
    text-align: center; 
}

.footer p {
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}

@media (min-width: 768px) {
    .footer p {
        justify-content: flex-start; 
    }
}