.admin-sidebar {
    width: 260px;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.logo-icon {
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(25, 135, 84, 0.2);
}

.nav-link {
    color: #444;
    font-weight: 500;
    transition: 0.3s;
}

.nav-link:hover {
    background: #f8f9fa;
    color: #82b440;
}

.active-admin-link {
    background: #82b440 !important;
    color: white !important;
    box-shadow: 0 4px 12px rgba(130, 180, 64, 0.3);
}

.admin-content {
    margin-left: 260px;
    padding: 20px;
}

